<nz-divider nzText="User Settings" nzOrientation="left"></nz-divider>
<p>
    Date is:- <strong>{{sampleDate | datePreference}}</strong>
</p>
<p>
    Timestamp is:- <strong>{{sampleDate | timezonePreference}}</strong>
</p>
<!-- <nz-divider nzText="Socket Handling" nzOrientation="left"></nz-divider>
<button (click)="triggerSocket()" nz-button nzType="primary">Setup Socket</button>
<br><br>
<input type="text" nz-input nzSize="default" placeholder="Enter some Message" #message style="width: 500px;">
<button style="margin-top: 8px;margin-left: 8px;" (click)="sendMessage(message)" nz-button nzType="primary">Send
    Message</button>
<br><br>
<button (click)="disconnectSocket()" nz-button nzType="primary">Disconnect Socket Connection</button> -->
<button nz-button nzType="dashed" (click)="getNotification()">Get Notification</button>
<button (click)="logout()" nz-button nzDanger>Logout</button>
<!-- <button (click)="outlookLogout()" nz-button nzType="primary" style="margin-left: 15px;">Outlook Logout</button> -->