<h3>Enter your credentials to login</h3>
<h5 style="color: gray;">Don't have an Account? <a routerLink='/auth/register'>Create One</a></h5>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>
        <label for="email">Email</label>
        <br><br>
        <input type="text" id="email" name="email" placeholder="example@abc.com" formControlName="email">
    </p>

    <p>
        <label for="password">Password</label>
        <br><br>
        <input type="password" placeholder="Password" formControlName="password">
    </p>

    <button type="submit">Login</button>
</form>
