<h2>This one's the dashboard</h2>

<h3>-------------------Date Pipe--------------------------------</h3>
<p>
    Task was assigned <strong>{{assignedDate | niceDateFormat}}</strong>
    <br><br>
    Deadline for the task is <strong>{{deadlineDate | niceDeadlineFormat}}</strong>
</p>
<p>
    <button (click)="logout()">Logout</button>
</p>
<p>
    <button (click)="triggerError()">Client side error</button>
</p>
<h3>---------------------------Client Side Errors-------------------------------</h3>
<p>
    <button (click)="badRequest()">400 Error</button>
</p>
<p>
    <button routerLink='randomPage'>404 Error</button>
</p>
<h3>----------------------------Server Side Errors--------------------------------</h3>
<p>
    <button (click)="resourceNotFound()">404 Error</button>
</p>
<p>
    <button (click)="internalServerError()">500 Error</button>
</p>
<h3>---------------------------State Management----------------------------------</h3>
<p>
    <button (click)="insertDataIntoAppState()">Insert Data to AppState</button>
</p>
<p>
    <button (click)="deleteDataFromAppState()">Delete Data from State</button>
</p>
